<table>
  <tbody>
    <tr>
      <th>Alerts Project</th>
      <td>
        <input type="text" id="settings_alert_project" 
                           value="<%= settings['settings_project'] %>" 
                           name="settings[settings_project]" >
      </td>
      <th>Alerts User Email</th>
      <td>
        <input type="text" id="settings_alert_user" 
                           value="<%= settings['settings_user'] %>" 
                           name="settings[settings_user]" >
      </td>
      <th>Alerts Tracker</th>
      <td>
        <input type="text" id="settings_alert_tracker" 
                           value="<%= settings['settings_tracker'] %>" 
                           name="settings[settings_tracker]" >
      </td>
      <th>Alerts Priority</th>
      <td>
        <input type="text" id="settings_alert_priority" 
                           value="<%= settings['settings_priority'] %>" 
                           name="settings[settings_priority]" >
      </td>
    </tr>
  </tbody>
</table>